$green : #00512f;
$brown : #6f3715;
$mainColor: #000;

$fontSize: 70;
$fontFamily: "";

$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98px;
$md3: 767.98;
$md4: 479.98;