@import '_variable';

.coffee-beans {
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 30px 40px;
        margin: 0 0 50px;
        color: $green;
    }
}

.card {
    margin: 15px 0;
    padding: 15px 25px;
    background: #fff;
    border-radius: 0.5rem;
    border: 0.1rem solid rgba(0, 81, 47, 0.4);
    max-width: 265px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
        -webkit-box-shadow: 0px 0px 12px 7px rgba(0, 81, 47, 0.2) inset;
        -moz-box-shadow: 0px 0px 12px 7px rgba(0, 81, 47, 0.2) inset;
        box-shadow: 0px 0px 12px 7px rgba(0, 81, 47, 0.2) inset;
    }

    @media (max-width: 479.98px) {
        max-width: 350px;
        width: 100%;
    }

    h3 {
        padding: 10px 0;
        text-align: start;
        font-weight: bold;
    }

    h4 {
        text-align: start;
    }

    &__img {
        height: 200px;
    }
}
