@use "sass:math";
@import "_null";
@import "_fonts";
@import "header";
@import "menu";
@import "coffee-beans";
@import "contacts";
@import "footer";

body {
	color: $mainColor;
	font-family: $fontFamily;
	&._lock {
		overflow: hidden;
	}
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.page {
	flex: 1 1 auto;
}

.section-title {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin: 50px 0;
}

._container {
	max-width: $maxWidthContainer + px;
	width: 100%;
	margin: 0 auto;
	@media (max-width: ($md1 + px)) {
		max-width: 970px;
	}
	@media (max-width: ($md2 + px)) {
		max-width: 750px;
	}
	@media (max-width: ($md3 + px)) {
		max-width: none;
		padding: 10px 10px;
	}
}

hr {
	border: 1px solid #d1d1d1;
}